<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
</head>
<body>
    <center>
    <br><br>
    <p> Policy Module : Dashboard </p>
    <br><br>
    <a href = 'dashboard\risks'>
        <button> Add Risks </button>
    </a>
    <br><br>
    <a href = 'dashboard\policies'>
        <button> Add Policies </button>
    </a>
    <br><br>
    <a href = 'dashboard\tasks'>
        <button> Perform Tasks </button>
    </a>
    <br><br>
    <a href = 'dashboard\viewRisks'>
        <button> View Created Risks </button>
    </a>
    <br><br>
    <a href = 'dashboard\viewPolicies'>
        <button> View Created Policies </button>
    </a>
    <br><br>
    </center>
    </form>
</body>
</html>