<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Policy Module</title>
</head>
<body>
    <center>
    <br><br>
    <p> Welcome to Policy Module </p>
    <br><br>
    <a href = '\login'>
        <button> Login </button>
    </a>
    <br><br>
    <a href = '\signup'>
        <button> Signup </button>
    </a>
    <br><br>
    </center>
    </form>
</body>
</html>