<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <center>
    <br><br>
    <p> Login </p>
    <form method="POST" action="/login">
    <br><br>
    <input placeholder="User Name" name="username">
    <br><br>
    <input type="password" placeholder="Password" name="password">
    <br><br>
    <input type="submit" value = "LOGIN">
    <br><br>
    </center>
    </form>
</body>
</html>