<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
</head>
<body>
    <form method="POST" action="/signup">
    <center>
        <br><br>
        <p> Signup </p>
        <br><br>
        <input placeholder="First Name" name="firstName">
        <br><br>
        <input placeholder="Last Name" name="lastName">
        <br><br>
        <input placeholder="E-Mail" name="email">
        <br><br>
        <input placeholder="User Name" name="username">
        <br><br>
        <input type="password" placeholder="Password" name="password">
        <br><br>
        <span id = "error"></span>
        <input type="submit" value = "SIGNUP">
        <br><br>
    </center>
    </form>
</body>
</html>