<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
</head>
<body>
    <form method='POST' action='/tasks' enctype='multipart/form-data'>
        <center>    
        <h2>Test the Policies here</h2>
        Upload your File : <input type="file" id = "file" name="myFile">
        <br><br>
        <input type="submit" value="Test">
        </center>
    </form>
</body>
</html>